<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/POPbaseStyle.css') }}">
</head>
<body class="background_lightgrey">

<div class="sidemenu">
    <a href="/">HOME PAGE</a>
    <a href="javascript:void(0);" onclick="toggleMenu('databaseMenu')">DATABASE</a>
    <div class="submenu" id="databaseMenu">
        {% for table_name in table_names %}
        <a href="/table/{{ table_name }}">{{ table_name }}</a>
        {% endfor %}
    </div>
    <a href="javascript:void(0);" onclick="toggleMenu('actionsMenu')">ACTIONS</a>
    <div class="submenu" id="actionsMenu">
        <a href="/add_data">Add Data</a>
        <a href="/edit_data">Edit Data</a>
        <a href="/delete_data">Delete Data</a>
    </div>
</div>

<div class="main">
    
    <form action="/add_data" method="post">
        <h1 class="header_grey">Add Data</h1>
        <label for="table_name">Select Table:</label>
        <select id="table_name" name="table_name">
            {% for name in table_names %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
        <button class="btn-outline-secondary" type="submit">Open Form</button>
    </form>
</div>

<script>
    function toggleMenu(menuId) {
        var menu = document.getElementById(menuId);
        if (menu.style.display === "block") {
            menu.style.display = "none";
        } else {
            menu.style.display = "block";
        }
    }
</script>

</body>
</html>
